/**
* @author Samson Kapeyi, Email: kapeyisamson@gmail.com
* This file is for bootstrap overrides!
*/

.label{
	font-size: 16px;
}
#gross{
	margin-bottom: 10px;
}

span.cal-value {
    color: #080808;
    font-size: 18px;
}