<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Calculator">
<head>
    <title>Trium Calculator</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
        
<body ng-controller="appController">
    <input type="text" ng-model="GROSS" /> <input type="submit" name="submit" ng-click="Calculate()" value="Calculate" />
    <p>Your Nssf Contribution is {{NSSFCONTRIBUTION}}</p>
    <p>Your Employer's Contribution is {{EMPLOYERCONTRIBUTION}}</p>
    <p>Your Total PAYE is {{PAYE}}</p>
    <p>Your Total NSSF contribution is {{TOTALCONTRIBUTION}}</p>
    <p>Your NetPay is {{NETPAY}}</p>


    <!--The necessary scripts-->
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
